@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: azure;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    
}
.logo{
    text-decoration: none;
    color: #24D9EB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #24D9EB;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color:yellow;

}
section{
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imges/aa.jpeg) no-repeat;
    background-size: cover;
    
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: whitesmoke;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #24D9EB;
    font-size: 3em;
    font-weight: 600;

}
.main h3{
    color: whitesmoke;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: whitesmoke;
    background-color: #24D9EB;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 1s ease;
}
.main-btn:hover{
    color: 24B5EB;
    transform: scale(1.1);
}
.social-icons a{
    color: whitesmoke;
    font-size: 1.7em;
    padding-right: 30px;
}
.social-icons a:hover{
    color: #24D9EB;
}
.title{
    display: flex;
    justify-content: center;
    color: #24D9EB;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}

.content {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    border: 3px solid #24D9EB;

}
.card:hover{
    transform: scale(1.1);
}

.icons {
    color: #24D9EB;
    font-size: 8em;
    display: flex;
    justify-content: center;
}

.info h3{
    color: #24D9EB;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10PX;
    display: flex;
    justify-content: center;
}
.info p{
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.projects {
    background-color: #042547;
}
.projects .content {
    margin-top: 70px;
    
    
    

}
.project-card{
    background-color: white;
    border: 1px solid #24D9EB;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 1S ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-img:hover{
    opacity: 0.9;
}
.project-img img{
    width: 100%;

}
.project-info{
    padding: 1em;
}
.project-details{
    font-size: 0.8em;
    color: #000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    
    color: #24D9EB;
    
}
.more-details:hover{
color: #042547;
}
.cards-contact .icons{
    font-size: 4.5em;
}
.cards-contact .info .cordonner {
    color: #000;
    font-size: 1.1em;
    font-weight: 800;
    
}
.cards-contact .info p{
    font-weight: 700;
}
.final{
    background-color: #042547;
    min-height: 5em;
}
.final strong {
    color: white;
    display: flex;
    padding-top: 1.7em;
    

}
.final span{
    color: #24D9EB;
    
}